.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  @media all and(min-width:768px) {
    align-items: flex-start;
    margin-left: 40px;
  }
}

.logoHeader {
  height: 100px;
  object-fit: contain;
}
